

#title{
	background-color: white;
	border-radius: 10px;

	}

	

#realtitle{
	text-align-last: center;
	align-items: center;
	font-family: 'Anton', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Kanit', sans-serif;
	background-color: white;
	height: 150px;
	width: 500px;
	float: right;
	border-radius: 10px;
	
}

.font1{
	font-family: 'Anton', sans-serif;
	font-family: 'Lobster', cursive;
}

.font2{
	font-family: 'Anton', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Kanit', sans-serif;

}

.font3{
	font-style: bold;
}
#words{
	width: 500px;
	height: 400px;
	border: 20px white;
	font-size:28px;
	float: left;
	font-size: 22px;
	border-color: orange;
	margin-right: 12px;


	}



#work{
	float: right;
}

ul{

  list-style-type: disc; 
  list-style-position: inside; 

}

body{
	background-color: red;
}

a{
	color: white;
	text-decoration: none;

}

a:hover {
  background-color: blue;
}

.curve{
	border-radius: 10px;

}

img{
	filter: grayscale(50%);
}